*
{
margin:0;
padding:0;
}
body{
	background:ddd;
	//background:ddd;
    //display:flex;
	//flex-wrap:wrap;
	//justify-content:center;
	align-items:center;
	font-family:"times new roman";
	//background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#2305ab);
  text-align:center;
  color:333;
  }
  #wrapper{
		   min-width:350px;
		   max-width:1100px;
		  margin: auto;
		   background:linear-gradient(to top,#7028C4 0%, #E5B2CA 100%);
	   border-radius:2rem;
	   position:relative:
 }
 #main-title{
	 font-size:18px;
	 text-align:center;
	 letter-spacing:4px;
	 color:gold;
	 text-align:center;
 }
  
.product-small-img img
{
height:90px;
margin:18px 0;
cursor:pointer;
display:block;
opacity: .6;
padding

}
.product-small-img img:hover{
opacity:1;
}
.product-small-img img
{
   float:right;
}

.product
{
	padding:50px;
top:50px;
//left:50px;
//transform:translate(-50%,-50%);
//position:absolute;
}
.img-container img
{
height:350px;
}
.img-container{
float:right;
padding:10px;
}
/ ul{
	left:20%;
	top:20%;
	display:vertical-align;
}
/ ul{
		position:absolute;
		 top:25%;
		 left:2%;
		 paddding:0;
		 margin:0;
		 transform:translate(-50%,-50%);
		 display:flex;
		 }
		 ul li{
		 list-style:none;
		 margin:0 1px;
		 }
		 ul li .fa{
		 font-size:10px;
		 line-height:30px;
		 transition:6s;
		 /color:gold;
		 }
		 ul li a{
		 position:relative;
		 display:block;
		 width:30px;
		 height:30px;
		 border-radius:50%;
		 //background-color:#333;
		 text-align:center;
		 transition:.6s;
		 box-shadow:0 5px 4px rgba(0,0,0,.5);
		 
		   }
		   
 ul li a:hover {
	 transform:translete(0, -10px);
 }
  ul li:nth-child(2) a:hover{
	 background-color:#3b5999;
 }
   ul li:nth-child(2) a:hover{
	 background-color:#55acee;
  }
  ul li:nth-child(3) a:hover{
	 background-color:#e4405f;
 }
  ul li:nth-child(4) a:hover{
	 background-color:#007785;
 }
 
 #footer{
 background-color:#333;
 color:#ddd;
 padding-top:20px;
 text-align:center;
 height:80px;
 font-family:"calibri";
 }

 #small_menu{
	 background
	 padding:4px;
color:#fff;
padding:30px;
 }
 #big_menu{
	 color:#ddd
 
 }
 
