.{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:cursive;
  }
  body{
  width:100%;
  height:100vh;
  background:#262626;
  overflow:hidden;
  }
  .alert-btn{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50% -50%);
  cursor:pointer;
  padding:5px 10px;
  font-size:30px;
  color:rgb(52,185,96);
  border:none;
  outline:none;
  border-radius:5px;
  border-left:6px solid rgb(28,78,28):
  }
  .sucess{
	  position:absolute;
	  top:5px;
	  right:10px;
	  background-color:rgb(106,168,126);
	  padding:20px 40px;
	  border-radius:5px;
	  border-left:6px solid rgb(28,78,28);
	  overflow:hidden;
	  opacity:0;
	  pointer-events:none;
  }
  .sucess.alert{
	  opacity:1;
	  pointer-events:auto;
  }
  .check{
	  position:absolute;
	  top:50px;
	  left:20px;
	  transform:translate-y(-50%):
	  font-size:30px;
	  color:green;
  }
  .msg{
	  font-size:18px;
	  color:rgb(43,121,43);
	  margin:0 20px;
  }
  .crose{
	  padding:20px 18px;
	  color:green;
	  font-size:30px;
	  color:rgb(47,112,47);
	  border:none;
	  outline:none;
	  border-radius:5px;
transition:.3s;
cursor:pointer;
  }
  .crose:hover{
	  background-color:rgv(47,112,47);
  }
  .alert-btn:hover{
	  background-color:rgb(43,124,70);
  }
  .sucess.show{
  animation:show_is ease forwards:
  }
  @keyframes show_slide{
	  0%{
		  transform:translate-x(100%);
	  }
40%{
		  transform:translate-x(10);
	  }
	  80%{
		  transform:translate-x(0);
		  100%{
		  transform:translate-x(-10px);
	  }
	 
  .sucess.hide{
  animation:hide_is ease forwards:
  }
  @keyframes hide_slide{
	  0%{
		  transform:translatex(-10%);
	  }
40%{
		  transform:translatex(0%);
	  }
	  80%{
		  transform:translatex(-10);
		  100%{
		  transform:translatex(100%);
	  }
	 
  
  
  