@import url("https://fonts.googleapis.com/css?family=roboto:400,700&display=swap");
 body{
 margin:0;
 background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	 background-size:400% 400%;
	 animation:Gradient 15s ease infinite;
	 box-shadow:1px 2px 60px rgb(0,0,0,0.4);
	 //text-align:CENTER;
	 color:#ddd;
    font-family:"times new roman";
 }



}
ul{
		 position:absolute;
		 top:70%;
		 left:70%;
		 paddding:0;
		 margin:0;
		 transform:translate(-50%,-50%);
		 display:flex;
		 }
.container{
width:600px;
border:2px solid #333;
padding:15px 10px;
}
.container h2{
text-align:center;
margin-bottom:10px;
}
textarea{
 height:40px;
width:100%;
border:none;
border-bottom:2px solid #7028c4;
background-color:#ddd;
margin-bottom:10px;
resize:none;
outline:none;
}
input[type="submit"],button{
padding:10px 15px;
border:none;
outline:none;
border-radius:5px;
text-transform:uppercase;
font-weight:bold;
cursor:pointer;
}
input[type"submit"]{
color:#09203f;
}
ul{
		 position:absolute;
		 top:70%;
		 left:70%;
		 paddding:0;
		 margin:0;
		 transform:translate(-50%,-50%);
		 display:flex;
		 }
		 ul li{
		 list-style:none;
		 margin:0 15px;
		 }
		 ul li .fa{
		 font-size:50px;
		 line-height:70px;
		 transition:6s;
		 color:#000;
		 }
		 ul li a{
		 position:relative;
		 display:block;
		 width:60px;
		 height:60px;
		 border-radius:50%;
		 background-color:#fff;
		 text-align:center;
		 transition:.6s;
		 box-shadow:0 5px 4px rgba(0,0,0,.5);
	