
 
 body{
	 background: #282828;
	 background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	 background-sizea:400% 400%;
	 animation:Gradient 15s ease infinite;
	 box-shadow:1px 2px 60px rgb(0,0,0,0.4);
	 text-align:CENTER;
	 color:#;
 }
 @-webkit-keyframes Gradient{
	   0%{
	   background-positiona:0% 50% 
	   }
	   50%{
		   background-position:100% 50%
	   }
	   100%{
		   background-position:0% 50%
	   }
	  #wrapper{
		   min-width:350px;
		   max-width:1100px;
		   margin: auto;
		   background-image:linear-gradient(to-top,#09203F 0%,#E5B2CA 100%);
	   box-shadow:1px 2px 60px rgb(0,0,0,0.4};
	   border-radius:2rem;
	   position:relative:
 }
 #container{
	   display:grid;
	   grid-template-coloumns:repeat(2,1 fr);
	   overflow:hidden;
	   height:100%;
 }
 #container.title{
	  width:90%;
	  height:20%;
	  text-align:center;
	  padding:2rem;
	 //z-index:999999;
	  color:#ddd;
	  
 }
#container h1{
	 font-family:"times new roman";
	 font-size:14px;
	 color:#ddd;
 }
 #button{
	 font-family:"calibri";
	 font-size:4px;
	 padding:8rem 2.3rem;
	 margin:0.1rem;
	 border:0;
	 border-radius:3rem;
	 cursor:pointer;
 }
 #night{
	 height:560px;
	 width:700px;
	 backgroun:url("image,jpg");
	 margin:5rem  auto;
	 position:relative;
	 box-shadow:1px 2px 60px rgba(0,0,0,0.4);
	 overflow.x:hidden;
 }
 #surface{
	 height:140px;
	 width:50%;
	 display:block;
	 background:#282828;
	 position:absolute;
	 bottom:0%;
	 left:0px;
	 background-repeat:repeat-x;
 }
 #small_menu{
	 width:90%;
	 height:20%
	 text-align:center;
 }
 #social-menu ul{
	  position: absolute;
	  top: 50%;
	  padding: 0;
	  margin: 0;
	  transform: translete(-50%, -50%);
	  display: float;
 }
 #social-menu ul li{
	 list-style:none;
	 margin: 0.15;
 }
	 
 social-menu ul li .fa{
	 font-size: 30px;
	 line-height: 60px;
	 transition: .6s;
 }
 #social-menu:ul li a{
	    position: relative;
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #fff;
		text-align: center;
		transition: .6s;
		box-shadow: 0 5px 4px rgb(0,0,0,.5);
 }
 #social-menu ul li a:hover {
 }
	 
   li{
		  list-styles:none;
		  margin:10px 30px;
		 / display:inline-block;
		  font-size:20px;
		  padding:20px 20px;
		  color:#fff;
		  border:1px solid #fff;
		  border-radius:50%;
		  transition: .5s;
		  color:#0000;
	   }
 header{
	// background-color:#191929;
	 height:75px;
	 width:auto;
 }
 nav{
	 float:right;
	 padding:15px 20px 0.0;
 }
 nav ul li{
	  display:inline-block;
  padding:9px;
	  font-size:20px;
 }
 nav ul li a{
	text-decoration:none;
	 color:#f3f3f3;
	 padding:15px;
 }
 nav ul li a:hover{
	 color:violet;
	 transition: all o.3% ease 0%;
 }
 #footer{
	 background-color:#09203f;
	 color:#ddd;
	 padding-top:20px;
	 text-align:center;
 height:80px;
 }
 #info{
	 max-width:170px;
	 width:100%;
	 min-width:130px;
 background-color:rgba(0,0,0,0.7};
 display:inline-block;
 vertical-align:top;
 color:#ddd;
 padding:4px;
 }
 info-header{
	 background-color:rgb(255,72,40);
	 color:#fff;
	 padding:4px;
	 margin-bottom:10px;
 }
 
 
#mobile-view,#tablet-view{
	 position:absolute;
	 top:0%;
	 display:none;
 }
 #mobile-view img,#tablet-view img{
	 width:100%;
 }
 @media only screen and (max-width 990px){
	 #view{
		 display:none;
	 }
	 
	 #tablet-view{
		 display:block;
	 }
	 @media only screen and(max-width:500px){
		 #tablet-view{
			 display:block;
		 }
 #mobile-view{
			 display:block;
		 }
      @media only screen and(max-width:500px){
		   #mobile-view{
			   display:none;
		   }
@media only screen and (max-width 990px){
	 #view{
		 display:none;
	 }
		 #small_menu{
			 display:none;
	 }
	 
		   
		   