*
{
margin:0;
padding:0;
}
body{
    display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	font-family:"calibri";
  text-align:center;
  color:forestgreen;
  }
.product-small-img img
{
height:90px;
margin:18px 0;
cursor:pointer;
display:block;
opacity: .6;
padding

}
.product-small-img img:hover{
opacity:1;
}
.product-small-img img
{
   float:right;
}

.product
{
	padding:50px;
top:50px;
//left:50px;
//transform:translate(-50%,-50%);
//position:absolute;
}
.img-container img
{
height:350px;
}
.img-container{
float:right;
padding:10px;
}
}
 #small_menu{
	 background-color
	 padding:4px;
	 color:#ddd;
 }
#social-menu ul{
	  position: absolute;
	  top: 50%;
	  padding: 0;
	  margin: 0;
	  transform: translete(-50%, -50%);
	  float:left;
 }


