 body{
	 margin:0;
 background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	// background-size:400% 400%;
	 animation:Gradient 15s ease infinite;
	 box-shadow:1px 2px 60px rgb(0,0,0,0.4);
	 text-align:CENTER;
	 color:#333;
    font-family:"times new roman";
	}
	.slide-container{
	  width:auto;
	  height:auto;
	  }
	  .image-container{
	  width:50px;
	  height:50px;
	  position:relative;
	  transition:left 2s;
	  -moz-transition:left 2s;
-webkit-transition:left 2s;
  -0-transition:left 2s;
  }
  .slider-image{
	 float:left;
	  margin:0;
	  padding:0;
  }
  .button-container{
	    top:-70px;
		position:relative;
  }
  .slider-button{
	  display:left;
	  height:10px;
	  width:10px;
	  border-radius:2px;
  }
  .slider-image-1:target~ #image-container{
	  left:0px;
  }
.slider-image-2:target~ #image-container{
	left:-800px;
}
 
       .slider-image-3:target~ #image-container
	left:-1600px;
	}
